* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo h1 {
    font-size: 30px;
    color: #087cf7;
}

.navbar .navbar-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
    background-color: #fff;
}

.hero-text {
    width: 50%;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

.hero-img img {
    width: 354px;
}

.btn-start {
    background-color: #087cf7;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-start:hover {
    background-color: #0768d1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
